<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <arush_facebook>
            <version>0.0.1</version>
        </arush_facebook>
    </modules>
    <global>
	    <blocks>
	        <adminhtml>
	            <rewrite>
	            </rewrite>
	        </adminhtml>
	    </blocks>
     	<helpers>
        	<facebook>
        		<class>Arush_Facebook_Helper</class>
        	</facebook>
        </helpers>
    </global>
    <adminhtml>
      <acl>
          <resources>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                      <facebook>
                                          <title>Facebook Canvas</title>
                                      </facebook>
                                  </children>
                              </config>
                          </children>
                      </system>
                  </children>
              </admin>
          </resources>
      </acl>
      <events></events> 
      <translate></translate>
  </adminhtml> 
  
    <frontend>
     	<layout>
            <updates>
                <facebook>
                    <file>arush/facebook.xml</file>
                </facebook>
            </updates>
        </layout>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>Arush_Facebook</module>
                    <frontName>facebook</frontName>
                </args>
            </facebook>
        </routers>   
    </frontend>
    
    <admin>
       <routers>
          <facebook>
              <use>admin</use>
              <args>
                  <module>Arush_Facebook</module>
                  <frontName>facebook</frontName>
              </args>
          </facebook>
      </routers>
  </admin>


    <default>
        <facebook>
            <options>
                <fbpageid></fbpageid>
            </options>
        </facebook>
    </default>
</config>