@font-face {
    font-family: 'ProximaNovaCondensedSBdIt';
    src: url('proximanovacond-semiboldit-webfont.eot');
    src: url('proximanovacond-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-semiboldit-webfont.woff') format('woff'),
         url('proximanovacond-semiboldit-webfont.ttf') format('truetype'),
         url('proximanovacond-semiboldit-webfont.svg#ProximaNovaCondensedSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedRegular';
    src: url('proximanovacond-regular-webfont.eot');
    src: url('proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-regular-webfont.woff') format('woff'),
         url('proximanovacond-regular-webfont.ttf') format('truetype'),
         url('proximanovacond-regular-webfont.svg#ProximaNovaCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedLight';
    src: url('proximanovacond-light-webfont.eot');
    src: url('proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-light-webfont.woff') format('woff'),
         url('proximanovacond-light-webfont.ttf') format('truetype'),
         url('proximanovacond-light-webfont.svg#ProximaNovaCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedLtIt';
    src: url('proximanovacond-lightit-webfont.eot');
    src: url('proximanovacond-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-lightit-webfont.woff') format('woff'),
         url('proximanovacond-lightit-webfont.ttf') format('truetype'),
         url('proximanovacond-lightit-webfont.svg#ProximaNovaCondensedLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedRgIt';
    src: url('proximanovacond-regularit-webfont.eot');
    src: url('proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-regularit-webfont.woff') format('woff'),
         url('proximanovacond-regularit-webfont.ttf') format('truetype'),
         url('proximanovacond-regularit-webfont.svg#ProximaNovaCondensedRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedSemibold';
    src: url('proximanovacond-semibold-webfont.eot');
    src: url('proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovacond-semibold-webfont.woff') format('woff'),
         url('proximanovacond-semibold-webfont.ttf') format('truetype'),
         url('proximanovacond-semibold-webfont.svg#ProximaNovaCondensedSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegularItalic';
    src: url('proximanova-regitalic-webfont.eot');
    src: url('proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regitalic-webfont.woff') format('woff'),
         url('proximanova-regitalic-webfont.ttf') format('truetype'),
         url('proximanova-regitalic-webfont.svg#ProximaNovaRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLightItalic';
    src: url('proximanova-lightitalic-webfont.eot');
    src: url('proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-lightitalic-webfont.woff') format('woff'),
         url('proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('proximanova-lightitalic-webfont.svg#ProximaNovaLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegularItalic';
    src: url('proximanova-regularitalic-webfont.eot');
    src: url('proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regularitalic-webfont.woff') format('woff'),
         url('proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('proximanova-regularitalic-webfont.svg#ProximaNovaRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('proximanova-semibold-webfont.eot');
    src: url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBoldItalic';
    src: url('proximanova-boldit-webfont.eot');
    src: url('proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-boldit-webfont.woff') format('woff'),
         url('proximanova-boldit-webfont.ttf') format('truetype'),
         url('proximanova-boldit-webfont.svg#ProximaNovaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('proximanova-extrabold-webfont.eot');
    src: url('proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-extrabold-webfont.woff') format('woff'),
         url('proximanova-extrabold-webfont.ttf') format('truetype'),
         url('proximanova-extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('proximanova-black-webfont.eot');
    src: url('proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-black-webfont.woff') format('woff'),
         url('proximanova-black-webfont.ttf') format('truetype'),
         url('proximanova-black-webfont.svg#ProximaNovaBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
