<?xml version="1.0"?>
<config>
    <modules>
        <Vdh_Popup>
            <version>0.1.0</version>
        </Vdh_Popup>
    </modules>
    <frontend>   
        <routers>
            <popup>
                <use>standard</use>
                <args>
					<module>Vdh_Popup</module>
                    <frontName>popup</frontName>
                </args>
            </popup>
        </routers>     
        <layout>
            <updates>
                <popup>
                    <file>vdh/popup/layout.xml</file>
                </popup>
            </updates>
        </layout>
		<translate>
			<modules>
				<Vdh_Popup>
					<files>
						<default>Vdh_Popup.csv</default>
					</files>
				</Vdh_Popup>
			</modules>
		</translate>
    </frontend>
    <global>
		<helpers>
			<popup>
				<class>Vdh_Popup_Helper</class>
			</popup>
		</helpers>
        <blocks>
            <popup>
            	<class>Vdh_Popup_Block</class>
            </popup>
        </blocks>
        <models>
        	<popup>
	        	<class>Vdh_Popup_Model</class>			
        	</popup>	        	
        </models>
    </global>

    <adminhtml>     
		<translate>
			<modules>
				<Vdh_Popup>
					<files>
						<default>Vdh_Popup.csv</default>
					</files>
				</Vdh_Popup>
			</modules>
		</translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <popup translate="title" module="popup">
                                            <title>Popup Configuration</title>
                                        </popup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <popup>
        	<general>            
            	<enabled>1</enabled>
            	<delay>15</delay>            	
        	</general>                        
        </popup>
    </default>
</config>
