<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_CatalogEvent>
            <version>0.0.6</version>
        </Evogue_CatalogEvent>
    </modules>
    <global>
        <models>
             <evogue_catalogevent>
                <class>Evogue_CatalogEvent_Model</class>
                <resourceModel>evogue_catalogevent_mysql4</resourceModel>
             </evogue_catalogevent>
             <evogue_catalogevent_mysql4>
                <class>Evogue_CatalogEvent_Model_Mysql4</class>
                <entities>
                    <event><table>evogue_catalogevent_event</table></event>
                    <event_image><table>evogue_catalogevent_event_image</table></event_image>
                </entities>
            </evogue_catalogevent_mysql4>
        </models>
        <helpers>
             <evogue_catalogevent>
                <class>Evogue_CatalogEvent_Helper</class>
             </evogue_catalogevent>
        </helpers>
        <blocks>
             <evogue_catalogevent>
                <class>Evogue_CatalogEvent_Block</class>
             </evogue_catalogevent>
        </blocks>
        <resources>
            <evogue_catalogevent_setup>
                <setup>
                    <module>Evogue_CatalogEvent</module>
                    <class>Evogue_CatalogEvent_Model_Mysql4_Setup</class>
                </setup>
            </evogue_catalogevent_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <event_id><to_order_item>*</to_order_item></event_id>
                <event_name><to_order_item>*</to_order_item></event_name>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <default>
        <catalog>
            <evogue_catalogevent>
                <enabled>1</enabled>
                <lister_output>1</lister_output>
                <lister_widget_limit>5</lister_widget_limit>
                <lister_widget_scroll>2</lister_widget_scroll>
            </evogue_catalogevent>
        </catalog>
    </default>
    <frontend>
        <events>
            <catalog_category_load_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventToCategory</method>
                    </evogue_catalogevent>
                </observers>
            </catalog_category_load_after>
            <catalog_controller_product_init_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventToProduct</method>
                    </evogue_catalogevent>
                </observers>
            </catalog_controller_product_init_after>
            <review_controller_product_init_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventToProduct</method>
                    </evogue_catalogevent>
                </observers>
            </review_controller_product_init_after>
            <catalog_category_collection_load_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventToCategoryCollection</method>
                    </evogue_catalogevent>
                </observers>
            </catalog_category_collection_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventToProductCollection</method>
                    </evogue_catalogevent>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_is_salable_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyIsSalableToProduct</method>
                    </evogue_catalogevent>
                </observers>
            </catalog_product_is_salable_after>
            <checkout_cart_product_add_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventOnQuoteItemSetProduct</method>
                    </evogue_catalogevent>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_item_qty_set_after>
                <observers>
                    <evogue_catalogevent>
                        <class>evogue_catalogevent/observer</class>
                        <method>applyEventOnQuoteItemSetQty</method>
                    </evogue_catalogevent>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
        <layout>
            <updates>
                <evogue_catalogevent module="Evogue_CatalogEvent">
                    <file>evogue/catalogevent.xml</file>
                </evogue_catalogevent>
            </updates>
        </layout>
        <translate>
            <modules>
                <Evogue_CatalogEvent>
                    <files>
                        <default>Evogue_CatalogEvent.csv</default>
                    </files>
                </Evogue_CatalogEvent>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <evogue_catalogevent before="Mage_Adminhtml">Evogue_CatalogEvent_Adminhtml</evogue_catalogevent>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <evogue_catalogevent>
                    <file>evogue/catalogevent.xml</file>
                </evogue_catalogevent>
            </updates>
        </layout>
        <translate>
            <modules>
                <Evogue_CatalogEvent>
                    <files>
                        <default>Evogue_CatalogEvent.csv</default>
                    </files>
                </Evogue_CatalogEvent>
            </modules>
        </translate>
    </adminhtml>
</config>
