<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_CustomerBalance>
             <version>0.0.11</version>
        </Evogue_CustomerBalance>
    </modules>
    <global>
        <resources>
            <evogue_customerbalance_setup>
                <setup>
                    <module>Evogue_CustomerBalance</module>
                    <class>Evogue_CustomerBalance_Model_Mysql4_Setup</class>
                </setup>
            </evogue_customerbalance_setup>
        </resources>
        <models>
            <evogue_customerbalance>
                <class>Evogue_CustomerBalance_Model</class>
                <resourceModel>evogue_customerbalance_mysql4</resourceModel>
            </evogue_customerbalance>
            <evogue_customerbalance_mysql4>
                <class>Evogue_CustomerBalance_Model_Mysql4</class>
                <entities>
                    <balance>
                        <table>evogue_customerbalance</table>
                    </balance>
                    <balance_history>
                        <table>evogue_customerbalance_history</table>
                    </balance_history>
                </entities>
            </evogue_customerbalance_mysql4>
        </models>
        <blocks>
            <evogue_customerbalance>
                <class>Evogue_CustomerBalance_Block</class>
            </evogue_customerbalance>
        </blocks>
        <helpers>
            <evogue_customerbalance>
                <class>Evogue_CustomerBalance_Helper</class>
            </evogue_customerbalance>
        </helpers>
        <template>
            <email>
               <customer_evogue_customerbalance_email_template translate="label" module="evogue_customerbalance">
                   <label>Store Credit Update</label>
                   <file>evogue/customerbalance_update.html</file>
                   <type>html</type>
               </customer_evogue_customerbalance_email_template>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <customerbalance>
                        <class>evogue_customerbalance/total_quote_customerbalance</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total,reward,giftcardaccount</after>
                        <renderer>evogue_customerbalance/checkout_total</renderer>
                    </customerbalance>
                </totals>
            </quote>

            <order_invoice>
                <totals>
                    <customerbalance>
                        <class>evogue_customerbalance/total_invoice_customerbalance</class>
                    </customerbalance>
                </totals>
            </order_invoice>

            <order_creditmemo>
                <totals>
                    <customerbalance>
                        <class>evogue_customerbalance/total_creditmemo_customerbalance</class>
                    </customerbalance>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_customer_balance_amount><to_order>*</to_order></base_customer_balance_amount>
                <customer_balance_amount><to_order>*</to_order></customer_balance_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>customerSaveAfter</method>
                    </evogue_customerbalance>
                </observers>
            </adminhtml_customer_save_after>
            <sales_quote_payment_import_data_before>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>paymentDataImport</method>
                    </evogue_customerbalance>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_order_place_after>
                <observers>
                    <evogue_customerbalance_sales_order_place_after>
                        <class>evogue_customerbalance/observer</class>
                        <method>processOrderPlace</method>
                    </evogue_customerbalance_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <core_layout_update_updates_get_after>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>disableLayout</method>
                    </evogue_customerbalance>
                </observers>
            </core_layout_update_updates_get_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>processOrderCreationData</method>
                    </evogue_customerbalance>
                </observers>
            </adminhtml_sales_order_create_process_data>

            <payment_method_is_active>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>togglePaymentMethods</method>
                    </evogue_customerbalance>
                </observers>
            </payment_method_is_active>

            <sales_quote_collect_totals_before>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </evogue_customerbalance>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_order_place_before>
                <observers>
                    <evogue_customerbalance_sales_order_place_before>
                        <class>evogue_customerbalance/observer</class>
                        <method>processBeforeOrderPlace</method>
                    </evogue_customerbalance_sales_order_place_before>
                </observers>
            </sales_order_place_before>

            <sales_quote_merge_after>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>quoteMergeAfter</method>
                    </evogue_customerbalance>
                </observers>
            </sales_quote_merge_after>

            <sales_order_invoice_save_after>
                <observers>
                    <evogue_customerbalance_sales_order_invoice_save_after>
                        <class>evogue_customerbalance/observer</class>
                        <method>increaseOrderInvoicedAmount</method>
                    </evogue_customerbalance_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>

            <sales_order_creditmemo_save_after>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </evogue_customerbalance>
                </observers>
            </sales_order_creditmemo_save_after>

            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>creditmemoDataImport</method>
                    </evogue_customerbalance>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>

            <sales_order_load_after>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </evogue_customerbalance>
                </observers>
            </sales_order_load_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>refund</method>
                    </evogue_customerbalance>
                </observers>
            </sales_order_creditmemo_refund>
            <website_delete_before>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>setCustomersBalanceCurrencyToWebsiteBaseCurrency</method>
                    </evogue_customerbalance>
                </observers>
            </website_delete_before>
            <paypal_prepare_line_items>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>addPaypalCustomerBalanceItem</method>
                    </evogue_customerbalance>
                </observers>
            </paypal_prepare_line_items>
        </events>
        <pdf>
            <totals>
                <evogue_customerbalance translate="title">
                    <title>Store Credit</title>
                    <source_field>customer_balance_amount</source_field>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>560</sort_order>
                </evogue_customerbalance>

                <evogue_customerbalance_total_refunded translate="title">
                    <title>Refunded to Store Credit</title>
                    <source_field>customer_balance_total_refunded</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>700</sort_order>
                </evogue_customerbalance_total_refunded>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <Evogue_CustomerBalance>
                    <files>
                        <default>Evogue_CustomerBalance.csv</default>
                    </files>
                </Evogue_CustomerBalance>
            </modules>
        </translate>
        <layout>
            <updates>
                <evogue_customerbalance module="Evogue_CustomerBalance">
                    <file>evogue/customerbalance.xml</file>
                </evogue_customerbalance>
            </updates>
        </layout>
        <routers>
            <evogue_customerbalance>
                <use>standard</use>
                <args>
                    <module>Evogue_CustomerBalance</module>
                    <frontName>storecredit</frontName>
                </args>
            </evogue_customerbalance>
        </routers>
        <secure_url>
            <storecredit_info>/storecredit/info/</storecredit_info>
        </secure_url>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerbalance before="Mage_Adminhtml">Evogue_CustomerBalance_Adminhtml</customerbalance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <evogue_customerbalance>
                    <file>evogue/customerbalance.xml</file>
                </evogue_customerbalance>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <evogue_customerbalance>
                        <class>evogue_customerbalance/observer</class>
                        <method>prepareCustomerBalanceSave</method>
                    </evogue_customerbalance>
                </observers>
            </adminhtml_customer_prepare_save>
        </events>
        <translate>
            <modules>
                <Evogue_CustomerBalance>
                    <files>
                        <default>Evogue_CustomerBalance.csv</default>
                    </files>
                </Evogue_CustomerBalance>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <evogue_customerbalance>
                <is_enabled>1</is_enabled>
                <email_template>customer_evogue_customerbalance_email_template</email_template>
                <email_identity>general</email_identity>
                <show_history>1</show_history>
            </evogue_customerbalance>
        </customer>
        <sales>
            <totals_sort>
                <customerbalance>95</customerbalance>
            </totals_sort>
        </sales>
    </default>
</config>
