.block-homepage { font-size: 11px; line-height: 1.25; }
.block-homepage .products-grid {
    background: none;
    border-bottom: 0;
    position: relative;
}
.content-home-wrapper { padding: 10px;}

.block-homepage .title-homepage-new {
    background: none repeat scroll 0 0 #E46404;
}
.block-homepage .title-homepage-topsellers {
    background: none repeat scroll 0 0 #93C627;
}
.block-homepage .title-homepage-popular {
    background: none repeat scroll 0 0 #CC3112;
}
.block-homepage .title-homepage-toprated {
    background: none repeat scroll 0 0 #709CC1;
}
.block-homepage .title-homepage-reviews {
    background: none repeat scroll 0 0 #336699;
}

.block-homepage .block-title {
    border-bottom: 1px solid #CACACA;
    height: 25px;
    overflow: hidden;
}

.block-homepage .block-title span {
    color: #FFFFFF;
    font: bold 12px/2em Arial,Helvetica,sans-serif;
    padding: 12px 0 3px 10px;
    text-transform: uppercase;
}
.block-homepage {
    -moz-box-shadow: 2px 2px 11px #696969;
    border: 1px solid #CACACA;
    color: #333333;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 10px;
    margin: 0 0 15px;
}

.block-homepage .block-title span {
    color: #FFFFFF;
    font: bold 12px/2em Arial,Helvetica,sans-serif;
    padding: 12px 0 3px 10px;
    text-transform: uppercase;
}
.block-homepage .block-content {
    background: none repeat scroll 0 0 #FFFFFF;
}


.block-homepage .products-grid .product-image {
    display: block;
    height: 135px;
    margin: 0 0 10px;
    width: 135px;
    border: 1px solid #DDDDDD;
}

.block-homepage  .block-content li.item {
    padding: 7px 9px;
    float: left;
}


.block-homepage .block-content .product-name {
    color: #1E7EC8;
    color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}

.block-homepage .products-grid .product-name a {
    color: #1E7EC8;
}
.block-homepage .block-homepage a {
    font-size: 12px;
    font-weight: bold;
}
.block-homepage .product-name a {
    color: #1E7EC8;
}
.block-homepage .products-grid .price-box {
    margin: 5px 0;
}
.block-homepage .link-cart {
    color: #DC6809 !important;
    font-weight: bold;
}