<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_TargetRule>
             <version>1.6.0.0.3</version>
        </Evogue_TargetRule>
    </modules>
    <global>
        <models>
            <evogue_targetrule_mysql4>
                <class>Evogue_TargetRule_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>evogue_targetrule</table>
                    </rule>
                    <customersegment>
                        <table>evogue_targetrule_customersegment</table>
                    </customersegment>
                    <product>
                        <table>evogue_targetrule_product</table>
                    </product>
                    <index>
                        <table>evogue_targetrule_index</table>
                    </index>
                    <index_related>
                        <table>evogue_targetrule_index_related</table>
                    </index_related>
                    <index_crosssell>
                        <table>evogue_targetrule_index_crosssell</table>
                    </index_crosssell>
                    <index_upsell>
                        <table>evogue_targetrule_index_upsell</table>
                    </index_upsell>
                </entities>
            </evogue_targetrule_mysql4>
            <evogue_targetrule>
                <class>Evogue_TargetRule_Model</class>
                <resourceModel>evogue_targetrule_mysql4</resourceModel>
            </evogue_targetrule>
        </models>
        <resources>
            <evogue_targetrule_setup>
                <setup>
                    <module>Evogue_TargetRule</module>
                    <class>Evogue_TargetRule_Model_Mysql4_Setup</class>
                </setup>
            </evogue_targetrule_setup>
        </resources>
        <blocks>
            <evogue_targetrule>
                <class>Evogue_TargetRule_Block</class>
            </evogue_targetrule>
        </blocks>
        <helpers>
            <evogue_targetrule>
                <class>Evogue_TargetRule_Helper</class>
            </evogue_targetrule>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <evogue_targetrule>
                        <class>evogue_targetrule/observer</class>
                        <method>catalogProductAfterSave</method>
                    </evogue_targetrule>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <Evogue_TargetRule>
                    <files>
                        <default>Evogue_TargetRule.csv</default>
                    </files>
                </Evogue_TargetRule>
            </modules>
        </translate>
        <layout>
            <updates>
                <evogue_targetrule>
                    <file>evogue/targetrule.xml</file>
                </evogue_targetrule>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Evogue_TargetRule before="Mage_Adminhtml">Evogue_TargetRule_Adminhtml</Evogue_TargetRule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <evogue_targetrule module="Evogue_TargetRule">
                    <file>evogue/targetrule.xml</file>
                </evogue_targetrule>
            </updates>
        </layout>
    </frontend>

    <default>
        <catalog>
            <evogue_targetrule>
                <related_position_limit>6</related_position_limit>
                <related_position_behavior>0</related_position_behavior>
                <crosssell_position_limit>5</crosssell_position_limit>
                <crosssell_position_behavior>0</crosssell_position_behavior>
                <upsell_position_limit>8</upsell_position_limit>
                <upsell_position_behavior>0</upsell_position_behavior>
            </evogue_targetrule>
        </catalog>
    </default>

    <crontab>
        <jobs>
            <evogue_targetrule_index_reindex>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>evogue_targetrule/index::cron</model></run>
            </evogue_targetrule_index_reindex>
        </jobs>
    </crontab>
</config>
