<?xml version="1.0"?>
<config>
    <modules>
        <Vdh_Customerurl>
            <version>0.1.0</version>
        </Vdh_Customerurl>
    </modules>
    <global>
        <helpers>
        	<customerurl>
        		<class>Vdh_Customerurl_Helper</class>
        	</customerurl>
        </helpers>
        <blocks>
            <customerurl>
            	<class>Vdh_Customerurl_Block</class>
            </customerurl>
        </blocks>            
  		<models>
            <customerurl>
                <class>Vdh_Customerurl_Model</class>
                <resourceModel>customerurl_mysql4</resourceModel>
            </customerurl>
        </models>
        
		<events>
			<customer_save_before>
                <observers>
                    <table7>
                        <type>singleton</type>
                        <class>Vdh_Customerurl_Model_Customer_Observer</class>
                        <method>createUniqueFromEvent</method>
                    </table7>
                </observers>
            </customer_save_before>		
			<customer_save_after>
                <observers>
                    <table7>
                        <type>singleton</type>
                        <class>Vdh_Customerurl_Model_Customer_Observer</class>
                        <method>addRewritesFromEvent</method>
                    </table7>
                </observers>
            </customer_save_after>    
        </events>          
		        
  		<resources>
            <customerurl_setup>
                <setup>
                    <module>Vdh_Customerurl</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerurl_setup>
        </resources>        
    </global>
    <frontend>
        <routers>
            <customerurl>
                <use>standard</use>
                <args>
                    <module>Vdh_Customerurl</module>
                    <frontName>customerurl</frontName>
                </args>
            </customerurl>
        </routers>
    </frontend>    
</config>