<?xml version="1.0"?>
<config>
    <sections>
		<customerurl translate="label" module="customerurl">
            <label>Customer URL</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<mappings translate="label comment">
                            <label>Rewrite Mappings</label>
                            <frontend_model>customerurl/system_config_form_field_array_mapping</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>template variables include: {customer_id}, {customer_url}</comment>
                        </mappings>	
                    </fields>
                </general>
			</groups>
		</customerurl>
    </sections>
</config>
    