<?xml version="1.0"?>
<config>
    <modules>
        <TBT_RewardsApi>
            <version>1.0.0.0</version>
        </TBT_RewardsApi>
    </modules>
    <admin>
        <routers>
            <rewardsapiadmin>
                <use>admin</use>
                <args>
                    <module>TBT_RewardsApi</module>
                    <frontName>rewardsapiadmin</frontName>
                </args>
            </rewardsapiadmin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <rewardsapi>
                <use>standard</use>
                <args>
                    <module>TBT_RewardsApi</module>
                    <frontName>rewardsapi</frontName>
                </args>
            </rewardsapi>
        </routers>
        <layout>
            <updates>
                <rewardsapi>
                    <file>rewardsapi.xml</file>
                </rewardsapi>
            </updates>
        </layout>
        <translate>
            <modules>
                <TBT_RewardsApi>
                    <files>
                        <default>TBT_RewardsApi.csv</default>
                    </files>
                </TBT_RewardsApi>
            </modules>
        </translate>
        
        <events>
        </events>
    </frontend>
	
    <adminhtml>
        <translate>
            <modules>
                <TBT_RewardsApi>
                    <files>
                        <default>TBT_RewardsApi.csv</default>
                    </files>
                </TBT_RewardsApi>
            </modules>
        </translate>
        <layout>
            <updates>
                <rewardsapi>
                    <file>rewardsapi.xml</file>
                </rewardsapi>
            </updates>
        </layout>
    </adminhtml>   
    
    <global>
        <models>
            <rewardsapi>
                <class>TBT_RewardsApi_Model</class>
                <resourceModel>rewardsapi_mysql4</resourceModel>
            </rewardsapi>
            <rewardsapi_mysql4>
                <class>TBT_RewardsApi_Model_Mysql4</class>
                <entities>
                </entities>
            </rewardsapi_mysql4>
        </models>
        
        <resources>
            <rewardsapi_setup>
                <setup>
                    <module>TBT_RewardsApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewardsapi_setup>
            <rewardsapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewardsapi_write>
            <rewardsapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewardsapi_read>
        </resources>
        <blocks>
            <rewardsapi>
                <class>TBT_RewardsApi_Block</class>
            </rewardsapi>                
        </blocks>
        <helpers>
            <rewardsapi>
                <class>TBT_RewardsApi_Helper</class>
            </rewardsapi>
        </helpers>
        
    </global>
	
</config>
