/* @nelkaake Added on Saturday June 26, 2010:  */
.my_referrals-urlcode_group div.urlcode-input-box { /*width:100%;*/ float: left; }
.my_referrals-urlcode_group .urlcode-input-box input { width:100%; }
.my_referrals-urlcode_group .urlcode_comment { font-size:8pt; font-style:italic; }
/*css by Anjan*/
.rewardsref-customer-index .page-head{ border-bottom: 1px solid #CCCCCC; margin: 0 0 25px;}
.rewardsref-customer-index .page-head h3{font-size:1.7em !important;font-weight:normal!important;margin:0;text-align:left;text-transform:none!important;}
.rewardsref-customer-index .group-select { /*background: none repeat scroll 0 0 #FBFAF6;border: 1px solid #BBAFA0;margin-top: 10px; padding: 22px 25px 12px;*/}
/*.rewardsref-customer-index .group-select .legend { background: none repeat scroll 0 0 #F9F3E3;border: 1px solid #F19900;color: #E76200;float: left;font-size: 1.1em;
font-weight: bold;margin-top: -33px;padding: 0 8px;}*/
/*.rewardsref-customer-index .group-select ul li { padding-right: 20px;}*/
.rewardsref-customer-index .group-select ul li .input-box { float: left;width: 275px;}
.rewardsref-customer-index .group-select ul li label{ font-weight:bold;}
.rewardsref-customer-index .group-select ul li input[type=text]{ width:444px;}
.rewardsref-customer-index .group-select ul li .input-box input[type=text]{ width:250px;}
.rewardsref-customer-index .group-select ul li textarea{ width:525px;}
.rewardsref-customer-index .group-select .button-set {/*border-top: 1px solid #E4E4E4;*/clear: both;margin-top: 0em;padding-top: 8px;/*text-align: right;*/}
.invitation-link{padding-bottom: 20px;}
.send-now-box .secure{color: #848484; font-weight: bold; margin: 85px 13px 0 139px;}

.referrals h4.legend{color:#2e2e2e; font-family: HelveticaNeueLight; font-size: 15px; font-weight: normal;}
.referrals label{color:#464646;}
.send-now-box-right textarea{background: #eaeaea; color: #4a4a4a; border: 1px solid #a1a1a1;}
input#referral_url{padding: 10px 10px 11px 10px; background: #eaeaea; color: #4a4a4a; border: 1px solid #a1a1a1;}
.referral-history{padding: 20px 0 10px 0;}
.referral-history-box{background: #ffffff; padding: 20px;}
#referred-friends-table th{color: #555555;}
#referred-friends-table{border: none;}
#referred-friends-table tr.odd{background: #f1f1f1 ! important; color: #555555; border: none;}
#referred-friends-table tr.even{background: #e3e3e3; color: #555555; border: none;}
.referral-history-box .pager{padding: 0; margin: -48px 0 0 0;}
.referral-history-box .pager .amount{display: none;}
.referral-history-box .pager .limiter {color: #555555;}
.referral-history-box .pager .limiter label{padding-right: 15px;}
.referral-history-box .pager .limiter select{float: left; margin-right: 5px;}
.referral-history-box .pager .pages, .referral-history-box .pager .pages a{color: #555555}
.referral-history-box p {color: #555555;}

.referral-preferences {padding: 20px 0 10px 0;}
.referral-preferences-box{background: #ffffff; padding: 20px; color: #5555555;}
.rewardsref-customer-index .referral-preferences-box .group-select .button-set{padding-top: 15px;}

#copy-link{float: left; display: block; position: relative;}
input#referral_url{margin-right: 20px;}
.rewardsref-button{
	padding: 0;
	border: 0;
	margin: 0;
	overflow: visible;
	cursor: pointer;
	background: #b14e4e;
}
.rewardsref-button:hover{
	-moz-box-shadow: 0pt 0px 2px #acacac;
	-webkit-box-shadow: 0pt 0px 2px #acacac;
	-khtml-box-shadow: 0pt 0px 2px #acacac;
	background: url('../../images/button-rollover.png');
}
/*REFERRAL PAGE START 12/04/11*/
.referrals{
	width: 710px;
}
.social-share{
	height: 50px;
	padding-top: 15px;
}
.social-share-text{
	padding: 15px 20px 0 0;
	float: left;
}
.social-share-images {float: left;}
.social-share-images a{width: 48px; height: 48px;}
.social-share-images img.facebook, .social-share-images img.twitter{padding-right: 10px;}
.balance {
	background-color: #ffffff;
	padding: 20px;
	font-weight: bold;
}
.send-now {
	font-weight: bold;
	padding-bottom: 10px;
}
.send-now-box {
	background-color: #ffffff;
	width: 687px;
	height: 343px;
	padding: 15px 11px;
}
.send-now-box-left, .send-now-box-right{
	height: 343px;
	float: left;
}
.send-now-box-right{
	width: 314px;
	padding: 11px 13px 0;
}
.send-addresses{padding-top: 7px;}
.send-now-box-left{
	width: 335px;
}
.send-now-box-middle{float: left; width: 1px;}
.send-now-box-left .send-header-left{margin: 11px 0 0 14px;}
.share-invitation-link {
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
}
.share-invitation-link-box {
	background-color: #ffffff;
	padding: 20px 20px 10px;
	color: #4a4a4a;
}
.plaxo{	margin: 25px 0 0 15px;}
.plaxo-link, .sendinvitations, .savepreferences{
	height: 38px;
	text-align: center;
	font-family: Gotham-book;
	display: block;
	line-height: 38px;
	text-transform: uppercase;
	color: #fff;
}
.plaxo a.plaxo-link{color: #fff;}
.plaxo-link{
	width: 311px;
	background: #b14e4e;
}
.plaxo-link:hover{
	-moz-box-shadow: 0pt 0px 2px #acacac;
	-webkit-box-shadow: 0pt 0px 2px #acacac;
	-khtml-box-shadow: 0pt 0px 2px #acacac;
	background: url('../../images/button-rollover.png');
}
.sendinvitations{
	width: 322px;

}
.savepreferences{
	width: 194px;
}

.providers{float: left; margin: 10px 0 0 7px;}
.secure-image{float: left; margin: 56px 0 0 8px;}
/*REFERRAL PAGE END*/

.send-now, .share-invitation-link, .referral-history, .referral-preferences{
	background: #fff;
	margin-top: 20px;
	border-bottom: 1px solid #E6E6E6;
	padding: 10px 15px;
}
.refer-form, .affiliate, .history, .preferences{
	background: #fff;
	-moz-box-shadow: 0pt 0px 2px #acacac;
	-webkit-box-shadow: 0pt 0px 2px #acacac;
	-khtml-box-shadow: 0pt 0px 2px #acacac;
}
.referral-history-box .pager .limiter{width: 138px;}