<?xml version="1.0"?>
<config>
    <tabs>
	<innovate translate="label" module="javascripthead">
	    <label>Innovate</label>
	    <sort_order>100</sort_order>
	</innovate>
    </tabs>
    <sections>
        <javascripthead translate="label comment" module="javascripthead">
            <tab>innovate</tab>
            <label>Javascripthead</label>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                
                <script translate="label comment" module="javascripthead">
                    <label>Javascripthead Scripts</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <javascripthead_on1 translate="label">
                            <label>Script 1 On</label>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_on1>
			<javascripthead_code1 translate="label">
                            <label>Script 1 Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_code1>
			<javascripthead_on2 translate="label">
                            <label>Script 2 On</label>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_on2>
			<javascripthead_code2 translate="label">
                            <label>Script 2 Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_code2>
			<javascripthead_on3 translate="label">
                            <label>Script 3 On</label>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_on3>
			<javascripthead_code3 translate="label">
                            <label>Script 3 Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_code3>
			<javascripthead_on4 translate="label">
                            <label>Script 4 On</label>
                            <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_on4>
			<javascripthead_code4 translate="label">
                            <label>Script 4 Code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </javascripthead_code4>
                    </fields>
                </script>
            </groups>
        </javascripthead>
    </sections>
</config>
