<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_Customer>
             <version>0.1.1</version>
        </Evogue_Customer>
    </modules>
    <global>
        <models>
            <evogue_customer>
                <class>Evogue_Customer_Model</class>
                <resourceModel>evogue_customer_mysql4</resourceModel>
            </evogue_customer>
            <evogue_customer_mysql4>
                <class>Evogue_Customer_Model_Mysql4</class>
                <entities>
                    <sales_order>
                        <table>evogue_customer_sales_flat_order</table>
                    </sales_order>
                    <sales_order_address>
                        <table>evogue_customer_sales_flat_order_address</table>
                    </sales_order_address>
                    <sales_quote>
                        <table>evogue_customer_sales_flat_quote</table>
                    </sales_quote>
                    <sales_quote_address>
                        <table>evogue_customer_sales_flat_quote_address</table>
                    </sales_quote_address>
                </entities>
            </evogue_customer_mysql4>
        </models>
        <blocks>
            <evogue_customer>
                <class>Evogue_Customer_Block</class>
            </evogue_customer>
        </blocks>
        <helpers>
            <evogue_customer>
                <class>Evogue_Customer_Helper</class>
            </evogue_customer>
        </helpers>
        <resources>
            <evogue_customer_setup>
                <setup>
                    <module>Evogue_Customer</module>
                    <class>Evogue_Customer_Model_Mysql4_Setup</class>
                </setup>
            </evogue_customer_setup>
        </resources>
        <events>
            <sales_quote_load_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesQuoteAfterLoad</method>
                    </evogue_customer>
                </observers>
            </sales_quote_load_after>
            <sales_quote_address_collection_load_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesQuoteAddressCollectionAfterLoad</method>
                    </evogue_customer>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_quote_save_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesQuoteAfterSave</method>
                    </evogue_customer>
                </observers>
            </sales_quote_save_after>
            <sales_quote_address_save_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesQuoteAddressAfterSave</method>
                    </evogue_customer>
                </observers>
            </sales_quote_address_save_after>
            <sales_order_load_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesOrderAfterLoad</method>
                    </evogue_customer>
                </observers>
            </sales_order_load_after>
            <sales_order_address_collection_load_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesOrderAddressCollectionAfterLoad</method>
                    </evogue_customer>
                </observers>
            </sales_order_address_collection_load_after>
            <sales_order_save_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesOrderAfterSave</method>
                    </evogue_customer>
                </observers>
            </sales_order_save_after>
            <sales_order_address_save_after>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>salesOrderAddressAfterSave</method>
                    </evogue_customer>
                </observers>
            </sales_order_address_save_after>
            <evogue_customer_attribute_save>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>evogueCustomerAttributeSave</method>
                    </evogue_customer>
                </observers>
            </evogue_customer_attribute_save>
            <evogue_customer_attribute_delete>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>evogueCustomerAttributeDelete</method>
                    </evogue_customer>
                </observers>
            </evogue_customer_attribute_delete>
            <evogue_customer_address_attribute_save>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>evogueCustomerAddressAttributeSave</method>
                    </evogue_customer>
                </observers>
            </evogue_customer_address_attribute_save>
            <evogue_customer_address_attribute_delete>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>evogueCustomerAddressAttributeDelete</method>
                    </evogue_customer>
                </observers>
            </evogue_customer_address_attribute_delete>
            <core_copy_fieldset_sales_convert_quote_to_order>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteToOrder</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_quote_address_to_order_address>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetSalesConvertQuoteAddressToOrderAddress</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_order_address>
            <core_copy_fieldset_sales_copy_order_to_edit>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderToEdit</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_to_edit>
            <core_copy_fieldset_sales_copy_order_billing_address_to_order>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderBillingAddressToOrder</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_billing_address_to_order>
            <core_copy_fieldset_sales_copy_order_shipping_address_to_order>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetSalesCopyOrderShippingAddressToOrder</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_copy_order_shipping_address_to_order>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetCustomerAccountToQuote</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetCustomerAddressToQuoteAddress</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>
            <core_copy_fieldset_checkout_onepage_quote_to_customer>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetCheckoutOnepageQuoteToCustomer</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_checkout_onepage_quote_to_customer>
            <core_copy_fieldset_sales_convert_quote_address_to_customer_address>
                <observers>
                    <evogue_customer>
                        <class>evogue_customer/observer</class>
                        <method>coreCopyFieldsetQuoteAddressToCustomerAddress</method>
                    </evogue_customer>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_customer_address>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <evogue_customer>
                    <file>evogue/customer.xml</file>
                </evogue_customer>
            </updates>
        </layout>
        <events>
        </events>
        <translate>
            <modules>
                <Evogue_Customer>
                     <files>
                          <default>Evogue_Customer.csv</default>
                     </files>
                </Evogue_Customer>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <evogue_customer before="Mage_Adminhtml">Evogue_Customer_Adminhtml</evogue_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <evogue_customer module="Evogue_Customer">
                    <file>evogue/customer.xml</file>
                </evogue_customer>
            </updates>
        </layout>
    </frontend>
</config>
