<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <address>
                    <fields>
                        <street_lines>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </street_lines>
                        <prefix_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </prefix_show>
                        <middlename_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </middlename_show>
                        <suffix_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </suffix_show>
                        <dob_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dob_show>
                        <taxvat_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </taxvat_show>
                        <gender_show>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </gender_show>
                    </fields>
                </address>
            </groups>
        </customer>
    </sections>
</config>
