<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_CustomerSegment>
             <version>1.6.0.0.1</version>
        </Evogue_CustomerSegment>
    </modules>

    <global>
        <models>
             <evogue_customersegment>
                <class>Evogue_CustomerSegment_Model</class>
                <resourceModel>evogue_customersegment_mysql4</resourceModel>
             </evogue_customersegment>
             <evogue_customersegment_mysql4>
                <class>Evogue_CustomerSegment_Model_Mysql4</class>
                <entities>
                    <segment><table>evogue_customersegment_segment</table></segment>
                    <event><table>evogue_customersegment_event</table></event>
                    <customer><table>evogue_customersegment_customer</table></customer>
                    <website><table>evogue_customersegment_website</table></website>
                </entities>
            </evogue_customersegment_mysql4>
        </models>
        <helpers>
            <evogue_customersegment>
                <class>Evogue_CustomerSegment_Helper</class>
            </evogue_customersegment>
        </helpers>
        <blocks>
             <evogue_customersegment>
                <class>Evogue_CustomerSegment_Block</class>
             </evogue_customersegment>
        </blocks>
        <resources>
            <evogue_customersegment_setup>
                <setup>
                    <module>Evogue_CustomerSegment</module>
                    <class>Evogue_CustomerSegment_Model_Mysql4_Setup</class>
                </setup>
            </evogue_customersegment_setup>
        </resources>
        <events>
            <!-- Customer account can be global. We have process -->
            <customer_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processCustomerEvent</method>
                    </evogue_customersegment>
                </observers>
            </customer_save_commit_after>
            <customer_address_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processCustomerEvent</method>
                    </evogue_customersegment>
                </observers>
            </customer_address_save_commit_after>
            <customer_address_delete_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processCustomerEvent</method>
                    </evogue_customersegment>
                </observers>
            </customer_address_delete_commit_after>
            <customer_balance_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processCustomerEvent</method>
                    </evogue_customersegment>
                </observers>
            </customer_balance_save_commit_after>
        </events>
    </global>

    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <evogue_customersegment before="Mage_Adminhtml">Evogue_CustomerSegment_Adminhtml</evogue_customersegment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <evogue_customersegment>
                    <file>evogue/customersegment.xml</file>
                </evogue_customersegment>
            </updates>
        </layout>

        <events>
            <salesrule_rule_condition_combine><!-- possibly it should be in global section -->
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>addSegmentsToSalesRuleCombine</method>
                    </evogue_customersegment>
                </observers>
            </salesrule_rule_condition_combine>
            <sales_quote_collect_totals_before>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processQuote</method>
                    </evogue_customersegment>
                </observers>
            </sales_quote_collect_totals_before>
            <evogue_customer_address_attribute_edit_tab_general_prepare_form>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>evogueCustomerAttributeEditPrepareForm</method>
                    </evogue_customersegment>
                </observers>
            </evogue_customer_address_attribute_edit_tab_general_prepare_form>
            <evogue_customer_attribute_edit_tab_general_prepare_form>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>evogueCustomerAttributeEditPrepareForm</method>
                    </evogue_customersegment>
                </observers>
            </evogue_customer_attribute_edit_tab_general_prepare_form>
        </events>

        <translate>
            <modules>
                <Evogue_CustomerSegment>
                    <files>
                        <default>Evogue_CustomerSegment.csv</default>
                    </files>
                </Evogue_CustomerSegment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <sales_quote_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </sales_quote_save_commit_after>
            <sales_order_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </sales_order_save_commit_after>
            <catalog_controller_product_view>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_save_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </checkout_cart_save_after>
            <wishlist_items_renewed>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </wishlist_items_renewed>
            <customer_login>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </customer_login>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <evogue_customersegment>
                        <class>evogue_customersegment/observer</class>
                        <method>processEvent</method>
                    </evogue_customersegment>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
    </frontend>

    <default>
        <customer>
            <evogue_customersegment>
                <is_enabled>1</is_enabled>
            </evogue_customersegment>
        </customer>
    </default>
</config>
