<?xml version="1.0"?>

<config>
    <modules>
        <Arush_Oneall>
            <version>1.1.0</version>
        </Arush_Oneall>
    </modules>
    <frontend>
	    <secure_url>
	    	<oneall>/arush-oneall/rpx/</oneall>
	    </secure_url>
        <layout>
            <updates>
                <oneall>
                    <file>arush/oneall.xml</file>
                </oneall>
            </updates>
        </layout>
        <translate>
            <modules>
                <Arush_Oneall>
                    <files>
                        <default>Arush_Oneall.csv</default>
                    </files>
                </Arush_Oneall>
            </modules>
        </translate>
		<routers>
			<oneall>
				<use>standard</use>
				<args>
					<module>Arush_Oneall</module>
					<frontName>arush-oneall</frontName>
				</args>
			</oneall>
		</routers>
    </frontend>

    <global>
        <blocks>
            <oneall>
                <class>Arush_Oneall_Block</class>
            </oneall>
        </blocks>
        <models>
            <oneall>
                <class>Arush_Oneall_Model</class>
				<resourceModel>oneall_mysql4</resourceModel>
            </oneall>
			<customer>
				<rewrite>
					<customer>Arush_Oneall_Model_Customer</customer>
				</rewrite>
			</customer>
			<oneall_mysql4>
				<class>Arush_Oneall_Model_Mysql4</class>
				<entities>
					<identifiers>
						<table>oneall_identifiers</table>
					</identifiers>
				</entities>
			</oneall_mysql4>
        </models>
		<events>
			<!--customer_save_after>
				<observers>
					<add_oneall_identifier>
						<type>singleton</type>
						<class>Arush_Oneall_Model_Observer</class>
						<method>addIdentifier</method>
					</add_oneall_identifier>
				</observers>
			</customer_save_after>
			<admin_system_config_changed_section_oneall>
				< observers>
					<oneall_config_save>
						<type>singleton</type>
						<class>Arush_Oneall_Model_Observer</class>
						<method>onConfigSave</method>
					</oneall_config_save>
				</observers>
			</admin_system_config_changed_section_oneall-->
		</events>
        <helpers>
            <oneall>
                <class>Arush_Oneall_Helper</class>
            </oneall>
        </helpers>
        <resources>
            <oneall_setup>
                <setup>
                    <module>Arush_Oneall</module>
					<class>Arush_Oneall_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oneall_setup>
            <oneall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oneall_write>
            <oneall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oneall_read>
        </resources>
    </global>

	<admin>
        <routers>
            <oneall>
                <use>admin</use>
                <args>
                    <module>Arush_Oneall</module>
                    <frontName>arush-oneall</frontName>
                </args>
            </oneall>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Arush_Oneall>
                    <files>
                        <default>Arush_Oneall.csv</default>
                    </files>
                </Arush_Oneall>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <oneall translate="title" module="oneall">
                                            <title>oneall</title>
                                        </oneall>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <oneall>
            <options>
                <apikey></apikey>
                <apidomain></apidomain>
                <privatekey></privatekey>
                <publickey></publickey>
                <enable>1</enable>
				<path_skin>{{base_skin}}/frontend/arush</path_skin>
            </options>

			<!-- Set values of global config vars -->
			<vars>
				<realm></realm>
				<realmscheme></realmscheme>
				<appid></appid>
				<adminurl></adminurl>
				<socialpub></socialpub>
				<enabled_providers></enabled_providers>
			</vars>
        </oneall>
    </default>

</config>