<?xml version="1.0"?>
<config>
    <modules>
        <Evogue_PageCache>
             <version>1.6.0.0.0</version>
        </Evogue_PageCache>
    </modules>
    <global>
        <models>
            <evogue_pagecache>
                <class>Evogue_PageCache_Model</class>
                <resourceModel>evogue_pagecache_mysql4</resourceModel>
            </evogue_pagecache>
            <evogue_pagecache_mysql4>
                <class>Evogue_PageCache_Model_Mysql4</class>
            </evogue_pagecache_mysql4>
        </models>
        <blocks>
            <evogue_pagecache>
                <class>Evogue_PageCache_Block</class>
            </evogue_pagecache>
        </blocks>
        <helpers>
            <evogue_pagecache>
                <class>Evogue_PageCache_Helper</class>
            </evogue_pagecache>
        </helpers>
        <resources>
            <evogue_pagecache_setup>
                <setup><module>Evogue_PageCache</module></setup>
            </evogue_pagecache_setup>
        </resources>
        <cache>
            <types>
                <full_page translate="label,description" module="evogue_pagecache">
                    <label>Page Cache</label>
                    <description>Full page caching.</description>
                    <tags>FPC</tags>
                </full_page>
            </types>
        </cache>
        <ignore_user_agents>
            <cache_crawler>MagentoCrawler</cache_crawler>
        </ignore_user_agents>
        <widget>
            <related_cache_types>
                <full_page/>
            </related_cache_types>
        </widget>
    </global>
    <adminhtml>
        <events>
            <clean_media_cache_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>cleanCache</method>
                    </evogue_pagecache>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>cleanCache</method>
                    </evogue_pagecache>
                </observers>
            </clean_catalog_images_cache_after>
            <model_save_commit_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>validateDataChanges</method>
                    </evogue_pagecache>
                </observers>
            </model_save_commit_after>
            <model_delete_commit_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>validateDataDelete</method>
                    </evogue_pagecache>
                </observers>
            </model_delete_commit_after>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <catalogrule_after_apply>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>cleanCache</method>
                    </evogue_pagecache>
                </observers>
            </catalogrule_after_apply>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <evogue_pagecache>
                <use>standard</use>
                <args>
                    <module>Evogue_PageCache</module>
                    <frontName>pagecache</frontName>
                </args>
            </evogue_pagecache>
        </routers>
        <events>
            <model_load_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerModelTag</method>
                    </evogue_pagecache>
                </observers>
            </model_load_after>
            <controller_action_predispatch>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>processPreDispatch</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>checkProductState</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_postdispatch_catalog_category_view>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>checkCategoryState</method>
                    </evogue_pagecache>
                </observers>
            </controller_action_postdispatch_catalog_category_view>
            <controller_front_send_response_before>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>cacheResponse</method>
                    </evogue_pagecache>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>renderBlockPlaceholder</method>
                    </evogue_pagecache>
                </observers>
            </core_block_abstract_to_html_after>
            <customer_login>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>customerLogin</method>
                    </evogue_pagecache>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>customerLogout</method>
                    </evogue_pagecache>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerQuoteChange</method>
                    </evogue_pagecache>
                </observers>
            </sales_quote_save_after>
            <sales_quote_remove_item>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerQuoteChange</method>
                    </evogue_pagecache>
                </observers>
            </sales_quote_remove_item>
            <catalog_product_compare_add_product>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </evogue_pagecache>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </evogue_pagecache>
                </observers>
            </catalog_product_compare_remove_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </evogue_pagecache>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <core_session_abstract_add_message>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>processNewMessage</method>
                    </evogue_pagecache>
                </observers>
            </core_session_abstract_add_message>
            <core_session_abstract_clear_messages>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>processMessageClearing</method>
                    </evogue_pagecache>
                </observers>
            </core_session_abstract_clear_messages>
            <wishlist_add_product>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerWishlistChange</method>
                    </evogue_pagecache>
                </observers>
            </wishlist_add_product>
            <wishlist_item_delete_commit_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerWishlistChange</method>
                    </evogue_pagecache>
                </observers>
            </wishlist_item_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <evogue_pagecache>
                        <class>evogue_pagecache/observer</class>
                        <method>registerNewOrder</method>
                    </evogue_pagecache>
                </observers>
            </sales_order_place_after>

        </events>
        <cache>
            <requests>
                <!--
                    Supported definitions:
                    <module_front_name>processor_model</module_front_name> - all module urls
                    <module_front_name><controller>processor_model</controller></module_front_name> - all module controller actions
                    <module_front_name><controller><action>processor_model</action></controller></module_front_name> - specific action
                 -->
                <cms>evogue_pagecache/processor_default</cms>
                <catalog><category><view>evogue_pagecache/processor_category</view></category></catalog>
                <catalog><product><view>evogue_pagecache/processor_product</view></product></catalog>
            </requests>
        </cache>
    </frontend>
    <default>
        <system>
            <page_cache>
                <allowed_depth>1</allowed_depth>
                <multicurrency>1</multicurrency>
            </page_cache>
            <page_crawl>
                <enable>0</enable>
                <threads>1</threads>
                <multicurrency>1</multicurrency>
            </page_crawl>
        </system>
    </default>
    <crontab>
        <jobs>
            <evogue_page_cache_crawler>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>evogue_pagecache/crawler::crawl</model></run>
            </evogue_page_cache_crawler>
        </jobs>
    </crontab>
</config>
