/* ONEALL SOCIAL LINKING */

.plugin #providers .providers_group .scroll div{
 margin:0 auto;
}

.plugin #providers .provider {
 width: 212px;
 margin-bottom: 2px;
}

.plugin #providers .provider .name {
 display: none;
}

.plugin #providers .provider .button {
 background: url('../images/social_link.png') no-repeat scroll 0 0 transparent;
 height: 30px;
 width: 212px;
}

.plugin #providers .provider #button_facebook {
 background-position: 0 -2px;
}

.plugin #providers .provider #button_google {
 background-position: 0 -34px;
}

.plugin #providers .provider #button_twitter {
 background-position: 0 -66px;
}

.plugin #providers .provider #button_yahoo {
 background-position: 0 -98px;
}

#providers .provider #button_linkedin {
 background-position: 0 -130px;
}

.plugin #providers .provider #button_openid {
 background-position: 0 -162px;
}

.plugin #providers .provider #button_wordpress {
 background-position: 0 -194px;
}

.plugin #providers .provider #button_hyves {
 background-position: 0 -226;
}

.plugin #providers .provider #button_vkontakte{
 background-position: 0 -258px;
}

.plugin #providers .provider .button .tick {
	right:5px;
}



/*

.customer-account-index #social_link_container .plugin #providers .provider.provider_linked {
	width:212px;
}
*/


/* ONEALL SOCIAL LINKING */
